<head><link href="./css/app.css" rel="stylesheet"></head><section class="brands">
    <div class="container">
        <div class="brands_inner">
            <div class="title">
                <div class="title_inner">
                    <div class="line"></div>
                    <div class="rhombus"></div>
                    <h3 class="title_inner-text">Our Brand</h3>
                    <div class="rhombus"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="brands_inner-content">
                <div class="brands-sum">
                    <div class="brands-sum-item">
                        <img src="img/brand1.png" alt="brand1" class="brands-sum-item-img">
                    </div>
                    <div class="brands-sum-item">
                        <img src="img/brand2.png" alt="brand2" class="brands-sum-item-img">
                    </div>
                    <div class="brands-sum-item">
                        <img src="img/brand3.png" alt="brand3" class="brands-sum-item-img">
                    </div>
                    <div class="brands-sum-item">
                        <img src="img/brand4.png" alt="brand4" class="brands-sum-item-img">
                    </div>
                    <div class="brands-sum-item">
                        <img src="img/brand5.png" alt="brand5" class="brands-sum-item-img">
                    </div>
                    <div class="brands-sum-item">
                        <img src="img/brand6.png" alt="brand6" class="brands-sum-item-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>