<head><link href="./css/app.css" rel="stylesheet"></head><footer class="footer" id="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_inner_top">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="f-navigation">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                                    <div class="f-nav">
                                        <h3 class="f-title">Shops</h3>
                                        <nav class="f-navs">
                                            <ul class="f-navs-menu">
                                                <li class="f-navs-menu-item">
                                                    <a href="#">New In</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Women</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Men</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Shoes</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Bags&Accessories</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Top Brands</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Sale&Special offers</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">LookBook</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                                    <div class="f-nav">
                                        <h3 class="f-title">Information</h3>
                                        <nav class="f-navs">
                                            <ul class="f-navs-menu">
                                                <li class="f-navs-menu-item">
                                                    <a href="#">About us</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Customer Service</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">New Collection</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Best Sellers</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Manufacturers</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Privacy policy</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Terms&Conditions</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Blog</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                                    <div class="f-nav">
                                        <h3 class="f-title">Customer service</h3>
                                        <nav class="f-navs">
                                            <ul class="f-navs-menu">
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Search Terms</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Advanced Search</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Orders&Returns</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Contact us</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">RSS</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Help&FAQs</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Consultant</a>
                                                </li>
                                                <li class="f-navs-menu-item">
                                                    <a href="#">Store Locations</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="f-addition">
                            <div class="social-networks-foot">
                                <h3 class="f-title">Stay Connected</h3>
                                <div class="social-networks-foot-items">
                                    <a href="https://www.facebook.com/groups/1889816177969830/?ref=groups_discover_tab"
                                        class="social-networks-foot-item">
                                        <object class="social-networks-foot-item-svg" type="image/svg+xml"
                                            data="./img/facebook.svg" width="20" height="20">
                                            Facebook
                                        </object>
                                    </a>
                                    <a href="#" class="social-networks-foot-item">
                                        <object class="social-networks-foot-item-svg" type="image/svg+xml"
                                            data="./img/twitter.svg" width="20" height="20">
                                            Twitter
                                        </object>
                                    </a>
                                    <a href="#" class="social-networks-foot-item">
                                        <object class="social-networks-item-foot-svg" type="image/svg+xml"
                                            data="./img/pinterest.svg" width="20" height="20">
                                            Pinterest
                                        </object>
                                    </a>
                                    <a href="#" class="social-networks-foot-item">
                                        <object class="social-networks-foot-item-svg" type="image/svg+xml"
                                            data="./img/instagram.svg" width="20" height="20">
                                            Instagram
                                        </object>
                                    </a>
                                </div>
                            </div>
                            <div class="search-foot">
                                <h3 class="f-title">Subscribe <span class="italic">in</span> our news letter</h3>
                                <form class="search-foot-form">
                                    <input type="text" class="search-foot-form-input"
                                        placeholder="Enter Your Email Address">
                                    <a href="#" class="search-foot-form-button">Subscribe</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_inner_buttom">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-xs-1">
                        <div class="f-buttom">
                            <div class="f-buttom-signature">
                                <p>© 2020 Shopia Fashion Store Shopify.<br>
                                    All Rights Reserved. Ecommerce Software by Shopify.<br>
                                    Designed by Nataly.</p>
                            </div>
                            <div class="f-buttom-paying">
                                <div class="f-buttom-paying-items">
                                    <a href="https://www.facebook.com/groups/1889816177969830/?ref=groups_discover_tab"
                                        class="f-buttom-paying-item">
                                        <object class="f-buttom-paying-item-svg" type="image/svg+xml"
                                            data="./img/visa.svg" width="40" height="40">
                                            Visa
                                        </object>
                                    </a>
                                    <a href="#" class="f-buttom-paying-item">
                                        <object class="f-buttom-paying-item-svg" type="image/svg+xml"
                                            data="./img/mastercard.svg" width="40" height="40">
                                            Mastercard
                                        </object>
                                    </a>
                                    <a href="#" class="f-buttom-paying-item">
                                        <object class="f-buttom-paying-foot-svg" type="image/svg+xml"
                                            data="./img/amex.svg" width="40" height="40">
                                            American express
                                        </object>
                                    </a>
                                    <a href="#" class="f-buttom-paying-item">
                                        <object class="f-buttom-paying-item-svg" type="image/svg+xml"
                                            data="./img/discover.svg" width="40" height="40">
                                            Discover
                                        </object>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer><script type="text/javascript" src="./js/app.js"></script>