<head><link href="./css/app.css" rel="stylesheet"></head><header class="header">
    <section class="header-top">
        <div class="container">
            <div class="header-top_inner">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-xs-9">
                        <div class="header-top-left">
                            <div class="header-num">
                                <a href="tel:+001555801">
                                    <object id="telephone" type="image/svg+xml" data="./img/phone-solid.svg" width="16"
                                        height="16">
                                        Phone number
                                    </object>
                                </a>
                                <a href="tel:+001555801" class="header-phone">Call +001 555 801</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-xs-3">
                        <div class="header-top-right">
                            <ul class="header-list">
                                <li class="header-list_item">
                                    <a href="#">Welcome msg!</a>
                                </li>
                                <li class="header-list_item">
                                    <a href="#">My account</a>
                                </li>
                                <li class="header-list_item">
                                    <a href="#">My whistlist</a>
                                </li>
                                <li class="header-list_item">
                                    <a href="#">Login</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar">
                            <ul class="sidebar-list">
                                <li class="sidebar-list_item">
                                    <a href="#">My account</a>
                                </li>
                                <li class="sidebar-list_item">
                                    <a href="#">My whistlist</a>
                                </li>
                                <li class="sidebar-list_item">
                                    <a href="#">Login</a>
                                </li>
                                <li class="sidebar-list-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="sidebar-list_item">
                                    <a href="#collection">Gallery</a>
                                </li>
                                <li class="sidebar-list_item">
                                    <a href="#products">Categorie</a>
                                </li>
                                <li class="sidebar-list_item">
                                    <a href="#footer">Pages</a>
                                </li>
                            </ul>
                            <button class="sidebarBtn">
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="header-nav">
        <div class="container">
            <div class="header-nav_inner">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-xs-4">
                        <div id="menu">
                            <ul class="menu-list">
                                <li class="menu-list-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="#collection">Gallery</a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="#products">Categorie</a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="#footer">Pages</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                        <div class="logo">
                            <a href="#" class="title-name">Shophia</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="social-networks">
                            <div class="social-networks-items">
                                <a href="https://www.facebook.com/groups/1889816177969830/?ref=groups_discover_tab"
                                    class="social-networks-item">
                                    <object class="social-networks-item-svg" type="image/svg+xml"
                                        data="./img/facebook.svg" width="20" height="20">
                                        Facebook
                                    </object>
                                </a>
                                <a href="#" class="social-networks-item">
                                    <object class="social-networks-item-svg" type="image/svg+xml"
                                        data="./img/twitter.svg" width="20" height="20">
                                        Twitter
                                    </object>
                                </a>
                                <a href="#" class="social-networks-item">
                                    <object class="social-networks-item-svg" type="image/svg+xml"
                                        data="./img/pinterest.svg" width="20" height="20">
                                        Pinterest
                                    </object>
                                </a>
                                <a href="#" class="social-networks-item">
                                    <object class="social-networks-item-svg" type="image/svg+xml"
                                        data="./img/instagram.svg" width="20" height="20">
                                        Instagram
                                    </object>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header><script type="text/javascript" src="./js/app.js"></script>