<head><link href="./css/app.css" rel="stylesheet"></head><main class="main">
    <section class="slider">
        <div class="slider_inner">
            <div class="sl">
                <div class="sl_slide">
                    <div class="triangle"></div>
                    <img class="sl_slide-item" src="img/1.jpg" alt="banner1">
                    <p class="sl_slide-text sl_slide-text1">Sale now on</p>
                    <button class="sl_slide-button">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="sl_slide-button-text">Shop on</span>
                    </button>
                </div>
                <div class="sl_slide">
                    <div class="triangle"></div>
                    <img class="sl_slide-item" src="img/2.jpg" alt="banner2">
                    <p class="sl_slide-text sl_slide-text2">New collection</p>
                    <p class="sl_slide-text small-text2">spring-summer 2020</p>
                    <button class="sl_slide-button button2">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="sl_slide-button-text">Shop on</span>
                    </button>
                </div>
                <div class="sl_slide">
                    <div class="triangle"></div>
                    <img class="sl_slide-item" src="img/3.jpg" alt="banner3">
                    <div class="sl_slide-text3">
                        <div class="sl_slide-text3_inner">
                            <p class="sl_slide-text3_inner-item">Midseason</p>
                            <p class="sl_slide-text3_inner-item">Sale</p>
                            <p class="sl_slide-text3_inner-item">up to</p>
                            <p class="sl_slide-text3_inner-item">50%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    <section class="support">
        <div class="container">
            <div class="support_inner">
                <div class="support-item support-item-xs">
                    <div class="support-item1">
                        <div class="support-item-icon">
                            <a href="#" class="support-item-icon-svg">
                                <object class="support-item-icon-svg-object" type="image/svg+xml" data="./img/plane.svg"
                                    width="40" height="40">
                                    Plane
                                </object>
                            </a>
                        </div>
                        <div class="support-item-text">
                            <h3>Free shipping</h3>
                            <p>In Order Min $200</p>
                        </div>
                    </div>
                </div>
                <div class="support-item support-item-xs">
                    <div class="support-item2">
                        <div class="support-item-icon">
                            <a href="#" class="support-item-icon-svg">
                                <object class="support-item-icon-svg-object" type="image/svg+xml" data="./img/clock.svg"
                                    width="40" height="40">
                                    Clocks
                                </object>
                            </a>
                        </div>
                        <div class="support-item-text">
                            <h3>30-days returns</h3>
                            <p>Money back Guarantee</p>
                        </div>
                    </div>
                </div>
                <div class="support-item support-item-xs">
                    <div class="support-item3">
                        <div class="support-item-icon">
                            <a href="#" class="support-item-icon-svg">
                                <object class="support-item-icon-svg-object" type="image/svg+xml" data="./img/support.svg"
                                    width="40" height="40">
                                    Support
                                </object>
                            </a>
                        </div>
                        <div class="support-item-text">
                            <h3>24/7 support</h3>
                            <p>Lifestime Support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    <section id="collection">
        <div class="container">
            <div class="collection_inner">
                <div class="title">
                    <div class="title_inner">
                        <div class="line"></div>
                        <div class="rhombus"></div>
                        <h3 class="title_inner-text">HandPicked</h3>
                        <div class="rhombus"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="collection_inner-content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                            <div class="collection-column">
                                <div class="collection-column_item">
                                    <img src="img/collection1.png" alt="collection1">
                                    <div class="collection-column_item_inner"></div>
                                    <input class="buttonBuy" type="button" value="Shop now">
                                </div>
                                <div class="collection-column_item">
                                    <img src="img/collection2.png" alt="collection2">
                                    <div class="collection-column_item-text2">
                                        <h3>Discont 30%</h3>
                                        <p>Jewellery product</p>
                                    </div>
                                    <div class="collection-column_item_inner"></div>
                                    <input class="buttonBuy" type="button" value="Shop now">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                            <div class="collection-column">
                                <div class="collection-column_item">
                                    <img class="middle-picture" src="img/collection3.png" alt="collection3">
                                    <div class="collection-column_item-text3">
                                        <p>PARIS Hilton</p>
                                        <h3>Collection</h3>
                                    </div>
                                    <div class="collection-column_item_inner middle-border"></div>
                                    <input class="buttonBuy middle-button" type="button" value="Shop now">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                            <div class="collection-column">
                                <div class="collection-column_item">
                                    <img src="img/collection4.png" alt="collection4">
                                    <div class="collection-column_item-text4">
                                        <h3>50%</h3>
                                        <h3>off</h3>
                                    </div>
                                    <div class="collection-column_item_inner"></div>
                                    <input class="buttonBuy" type="button" value="Shop now">
                                </div>
                                <div class="collection-column_item">
                                    <img src="img/collection5.png" alt="collection5">
                                    <div class="collection-column_item_inner"></div>
                                    <input class="buttonBuy" type="button" value="Shop now">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    <section id="products">
        <div class="container">
            <div class="products_inner">
                <div class="title">
                    <div class="title_inner">
                        <div class="line"></div>
                        <div class="rhombus"></div>
                        <h3 class="title_inner-text">Summer Collection</h3>
                        <div class="rhombus"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="productList">
                </div>
            </div>
        </div>
    </section>    <section class="brands">
        <div class="container">
            <div class="brands_inner">
                <div class="title">
                    <div class="title_inner">
                        <div class="line"></div>
                        <div class="rhombus"></div>
                        <h3 class="title_inner-text">Our Brand</h3>
                        <div class="rhombus"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="brands_inner-content">
                    <div class="brands-sum">
                        <div class="brands-sum-item">
                            <img src="img/brand1.png" alt="brand1" class="brands-sum-item-img">
                        </div>
                        <div class="brands-sum-item">
                            <img src="img/brand2.png" alt="brand2" class="brands-sum-item-img">
                        </div>
                        <div class="brands-sum-item">
                            <img src="img/brand3.png" alt="brand3" class="brands-sum-item-img">
                        </div>
                        <div class="brands-sum-item">
                            <img src="img/brand4.png" alt="brand4" class="brands-sum-item-img">
                        </div>
                        <div class="brands-sum-item">
                            <img src="img/brand5.png" alt="brand5" class="brands-sum-item-img">
                        </div>
                        <div class="brands-sum-item">
                            <img src="img/brand6.png" alt="brand6" class="brands-sum-item-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    <section class="testimonials">
        <div class="testimonials_inner">
            <div class="title">
                <div class="container">
                    <div class="title_inner">
                        <div class="line"></div>
                        <div class="rhombus"></div>
                        <h3 class="title_inner-text">Customers Says</h3>
                        <div class="rhombus"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="testimonials_inner-content">
                <div class="container">
                    <div class="triangle"></div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="testimonial-item">
                                <div class="testimonial-item-img">
                                    <img src="img/employee1.png" alt="employee1">
                                </div>
                                <div class="testimonial-item-text">
                                    <div class="testimonial-item-text-top">
                                        <p>Sed ut perspiciatis unde omnis <br>
                                            iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                    <div class="testimonial-item-text-signature">
                                        <h3>Sandra Dewi</h3>
                                        <p>Fashion Stylish</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="testimonial-item right-direction">
                                <div class="testimonial-item-text right-text">
                                    <div class="testimonial-item-text-top">
                                        <p>Sed ut perspiciatis
                                            unde omnis <br> iste natus error sit
                                            voluptatem accusantium doloremque </p>
                                    </div>
                                    <div class="testimonial-item-text-signature">
                                        <h3>Shaheer Sheikh</h3>
                                        <p>Designer</p>
                                    </div>
                                </div>
                                <div class="testimonial-item-img">
                                    <img src="img/employee2.png" alt="employee2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section></main><script type="text/javascript" src="./js/app.js"></script>