<head><link href="./css/app.css" rel="stylesheet"></head><section class="slider">
    <div class="slider_inner">
        <div class="sl">
            <div class="sl_slide">
                <div class="triangle"></div>
                <img class="sl_slide-item" src="img/1.jpg" alt="banner1">
                <p class="sl_slide-text sl_slide-text1">Sale now on</p>
                <button class="sl_slide-button">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="sl_slide-button-text">Shop on</span>
                </button>
            </div>
            <div class="sl_slide">
                <div class="triangle"></div>
                <img class="sl_slide-item" src="img/2.jpg" alt="banner2">
                <p class="sl_slide-text sl_slide-text2">New collection</p>
                <p class="sl_slide-text small-text2">spring-summer 2020</p>
                <button class="sl_slide-button button2">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="sl_slide-button-text">Shop on</span>
                </button>
            </div>
            <div class="sl_slide">
                <div class="triangle"></div>
                <img class="sl_slide-item" src="img/3.jpg" alt="banner3">
                <div class="sl_slide-text3">
                    <div class="sl_slide-text3_inner">
                        <p class="sl_slide-text3_inner-item">Midseason</p>
                        <p class="sl_slide-text3_inner-item">Sale</p>
                        <p class="sl_slide-text3_inner-item">up to</p>
                        <p class="sl_slide-text3_inner-item">50%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>