<head><link href="./css/app.css" rel="stylesheet"></head><section class="support">
    <div class="container">
        <div class="support_inner">
            <div class="support-item support-item-xs">
                <div class="support-item1">
                    <div class="support-item-icon">
                        <a href="#" class="support-item-icon-svg">
                            <object class="support-item-icon-svg-object" type="image/svg+xml" data="./img/plane.svg"
                                width="40" height="40">
                                Plane
                            </object>
                        </a>
                    </div>
                    <div class="support-item-text">
                        <h3>Free shipping</h3>
                        <p>In Order Min $200</p>
                    </div>
                </div>
            </div>
            <div class="support-item support-item-xs">
                <div class="support-item2">
                    <div class="support-item-icon">
                        <a href="#" class="support-item-icon-svg">
                            <object class="support-item-icon-svg-object" type="image/svg+xml" data="./img/clock.svg"
                                width="40" height="40">
                                Clocks
                            </object>
                        </a>
                    </div>
                    <div class="support-item-text">
                        <h3>30-days returns</h3>
                        <p>Money back Guarantee</p>
                    </div>
                </div>
            </div>
            <div class="support-item support-item-xs">
                <div class="support-item3">
                    <div class="support-item-icon">
                        <a href="#" class="support-item-icon-svg">
                            <object class="support-item-icon-svg-object" type="image/svg+xml" data="./img/support.svg"
                                width="40" height="40">
                                Support
                            </object>
                        </a>
                    </div>
                    <div class="support-item-text">
                        <h3>24/7 support</h3>
                        <p>Lifestime Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>