<head><link href="./css/app.css" rel="stylesheet"></head><section class="testimonials">
    <div class="testimonials_inner">
        <div class="title">
            <div class="container">
                <div class="title_inner">
                    <div class="line"></div>
                    <div class="rhombus"></div>
                    <h3 class="title_inner-text">Customers Says</h3>
                    <div class="rhombus"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="testimonials_inner-content">
            <div class="container">
                <div class="triangle"></div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="testimonial-item">
                            <div class="testimonial-item-img">
                                <img src="img/employee1.png" alt="employee1">
                            </div>
                            <div class="testimonial-item-text">
                                <div class="testimonial-item-text-top">
                                    <p>Sed ut perspiciatis unde omnis <br>
                                        iste natus error sit voluptatem accusantium doloremque</p>
                                </div>
                                <div class="testimonial-item-text-signature">
                                    <h3>Sandra Dewi</h3>
                                    <p>Fashion Stylish</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="testimonial-item right-direction">
                            <div class="testimonial-item-text right-text">
                                <div class="testimonial-item-text-top">
                                    <p>Sed ut perspiciatis
                                        unde omnis <br> iste natus error sit
                                        voluptatem accusantium doloremque </p>
                                </div>
                                <div class="testimonial-item-text-signature">
                                    <h3>Shaheer Sheikh</h3>
                                    <p>Designer</p>
                                </div>
                            </div>
                            <div class="testimonial-item-img">
                                <img src="img/employee2.png" alt="employee2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>